.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  margin-top: 5%;
  margin-bottom: 0;
}

.footer__copyright {
  width: 194px;
  height: 16px;
  top: 1702px;
  left: 287px;
  color: white;
  justify-content: center;
  font-size: 14px;
}
