.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-family: "Inter-Black";
  justify-content: center;
  padding-top: 34px;
}

.header__logo {
  width: 254.84px;
  height: 68.94px;
  margin-top: 34px;
  left: 513px;
}

.header__title {
  width: 720px;
  height: 200px;
  top: 194px;
  left: 280px;
  font-family: "Inter-Black";
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  letter-spacing: 0;
  text-align: center;
  color: white;
}

.header__subtitle {
  width: 720px;
  height: 72px;
  top: 426px;
  left: 280px;
  font-family: "Inter-Regular";
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  max-width: 768px;
}

.header__image {
  width: 984px;
  height: 615px;
  top: 562px;
  left: 148px;
}

@media screen and (max-width: 768px) {
  .header__logo {
    height: 66px;
    margin-top: 30px;
    left: 257px;
  }
  .header__title {
    width: 530px;
    height: 158px;
    top: 186px;
    left: 119px;
    font-size: 75px;
    line-height: 79px;
  }
  .header__subtitle {
    top: 369px;
    left: 24px;
  }
  .header__image {
    width: 768px;
    height: 480px;
    top: 471px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 188px;
    height: 52px;
    margin-top: 20px;
    left: 66px;
  }
  .header__title {
    width: 228px;
    height: 88px;
    top: 122px;
    left: 46px;
    font-size: 40px;
    line-height: 44px;
  }
  .header__subtitle {
    width: 288px;
    height: 40px;
    top: 226px;
    left: 16px;
    font-size: 16px;
    line-height: 20px;
  }

  .header__image {
    width: 320px;
    height: 200px;
    top: 306px;
  }
}
